@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the audio player */
.custom-audio-player {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-audio-player button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.custom-audio-player input[type="range"] {
  width: 100%;
  margin: 0 1rem;
}

.custom-audio-player .flex {
  width: 100%;
  justify-content: space-between;
}

/* Ensure text truncation with ellipsis */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

aside#Sidebar {
  width: 20rem;
  height: 20rem;
  margin: 1rem;
}

div#listsong {
  margin-bottom: 5rem;
}

div#bottomleft {
  margin-right: 6rem;
}

div#volumebar {
  width: 15rem;
}

/* Change the appearance of the previous button on hover */
button#prevButton:hover {
  transform: scale(1.1); /* Example: slightly enlarge the button */
}

/* Change the appearance of the next button on hover */
button#nextButton:hover {
  transform: scale(1.1); /* Example: slightly enlarge the button */
}

/* Change the appearance of the play button on hover */
button#playPauseButton:hover {
  transform: scale(1.1); /* Example: slightly enlarge the button */
}
#cmdOutputText {
  white-space: pre-wrap; /* Enables text wrapping */
  word-wrap: break-word; /* Breaks long words */
  width: 100%; /* Ensures the element takes the full width of its container */
  height: 300px; /* Sets a fixed height for the output container */
  overflow-y: auto; /* Adds a vertical scrollbar if content overflows */
  border: 1px solid #ccc; /* Adds a border for better visibility */
  padding: 10px; /* Adds some padding for better readability */
}

input#searchInput {
  width: 90%; /* Ensures the input takes the full width of its container */
  padding: 0.5rem; /* Adds some padding for better readability */
  margin-bottom: 1rem; /* Adds space between the input and other elements */
  color: #333; /* Sets the text color to a dark shade */
}

.song-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song-info p {
  margin: 0;
  padding: 0 10px;
  flex: 1;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
}

td img {
  display: block;
  margin: 0;
}

td .song-info {
  display: flex;
  align-items: center;
}

td .song-info img {
  margin-right: 8px;
}

td .song-info h3 {
  margin: 0;
}

td .song-info p {
  margin: 0;
}
