@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the audio player */
.custom-audio-player {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-audio-player button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.custom-audio-player input[type="range"] {
  width: 100%;
  margin: 0 1rem;
}

.custom-audio-player .flex {
  width: 100%;
  justify-content: space-between;
}

/* Ensure text truncation with ellipsis */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

aside#Sidebar {
  width: 20rem;
  height: 20rem;
  margin: 1rem;
}

div#listsong {
  margin-bottom: 5rem;
}

div#bottomleft {
  margin-right: 6rem;
}

div#volumebar {
  width: 15rem;
}

/* Change the appearance of the previous button on hover */
button#prevButton:hover {
  transform: scale(1.1); /* Example: slightly enlarge the button */
}

/* Change the appearance of the next button on hover */
button#nextButton:hover {
  transform: scale(1.1); /* Example: slightly enlarge the button */
}

/* Change the appearance of the play button on hover */
button#playPauseButton:hover {
  transform: scale(1.1); /* Example: slightly enlarge the button */
}
